* {
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f1ec;
}

.top-info ul {
    display: flex;
}

.top-info ul li {
    flex: 1;
    font-size: 0.6rem;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3a5065;
}

.open-time {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  padding-bottom: 5px;
  color: #3a5065;
}

hr {
  width: 60%;
  border-style: double;
  border-radius: 50%;
  color: lightgray;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logo img {
  border-radius: 35%;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: #cca478;
}

.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  font-size: 3rem;
}