* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    background-color: #f0f1ec;
}

/* start of styling the header section */

.top-info ul {
    display: flex;
}

.top-info ul li {
    flex: 1;
    font-size: 0.6rem;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3a5065;
}

.open-time {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  padding-bottom: 5px;
  color: #3a5065;
}

hr {
  width: 60%;
  border-style: double;
  border-radius: 50%;
  color: lightgray;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logo img {
  border-radius: 35%;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: #cca478;
}

.navbar {
  padding-top: 0.5rem;
  border-radius: 1rem 1rem 0 0;
  background-color: #cca478;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  justify-content: space-around;
}

.navbar li {
  font-size: 3rem;
}

/* end of styling the header section */

.welcome-section {
  margin-top: 20px;
}

.welcome {
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px 5px #333;
}


/* start of styling the slideshow container */

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

.text {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: black;
  width: 100%;
  color: white;
  padding: 10px;
  border-radius: 0 0 2rem 2rem;
}

/* animation part */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}


@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 1;}
  83% {opacity: 1;}
  100% {opacity: 0;}
}

/* styling about us section */

.about-us-section {
  margin-top: 50px;
}