.about-us-section {
    margin-top: 20px;
  }
  
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 90%;
  height: auto;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.about-us-container,
.container {
  padding: 0.8rem;
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-container {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
  
  /* Large devices (Laptops/Desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* about us section styling */
  .about-us-section {
    margin-top: 6rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
  }

  .title-container {
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
  }

  .about-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .about-us-section {
    margin-top: 6rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
  }
}