.find-us-section {
  margin-top: 2rem;
}

.find-us img {
    width: 100%;
    margin: 2rem;
    border-radius: 0.5rem;
  }
  
.company-name {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2rem;
}

.companydata {
  text-align: center;
}
  
/* ----- contact section ------ */

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
}

option {
  color: black;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container {
  border-radius: 5px;
  padding: 20px;
}

.head-title {
  font-weight: 600;
}

@media only screen and (min-width: 1200px) {
  .find-us-section {
    margin-top: 5rem;
  }

  .find-us img {
    width: 100%;
    height: auto;
    margin: 2rem;
    border-radius: 1rem;
  }

  .companyflex-container {
    display: flex;
  }

  .companydata {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.3rem;
    text-align: center;
  }
  
  .company-name {
    text-transform: uppercase;
    font-weight: 600;
  }

  .find-us-container {
    display: flex;
    align-items: center;
  }

  .contact-section {
    margin-top: 5rem;
  }

  .form-container {
    width: 35vw;
  }
}