.top-info ul {
    display: flex;
  }
  
  .top-info ul li {
    flex: 1;
    font-size: 0.6rem;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3a5065;
  }
  
  .open-time {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    padding-bottom: 5px;
    color: #3a5065;
  }
  
  hr {
    width: 60%;
    border-style: double;
    border-radius: 50%;
    color: lightgray;
    margin: 20px auto;
  }
  
  .welcome-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
    gap: 1rem;
  }
  
  .logo img {
    border-radius: 2rem;
    width: 7rem;
    margin-left: 1rem;
    justify-content: flex-end;
  }
  
  .welcome-text h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 5px #333;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    text-align: center;
    letter-spacing: 0.5rem;
  }
  
  .welcome-text p {
    font-family: "Bebas Neue";
    text-align: center;
    letter-spacing: 0.3rem;
  }

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  .top-info ul li {
    font-size: 0.55rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .top-info ul li {
    flex: 1;
    font-size: 1.2rem;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .open-time {
    text-align: center;
    font-size: 1.2rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }
}
  
/* Large devices (Laptops/Desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* top section */
  .top-info {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .top-info ul li {
    flex: 1;
    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .open-time {
    text-align: center;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    padding-bottom: 5px;
  }

  hr {
    width: 60%;
    border-style: double;
    color: lightgray;
    margin: 20px auto;
  }
  /* top section */

  /* welcome section with logo and text */
  .welcome-section {
    display: flex;
    justify-content: center;
  }

  .logo img {
    border-radius: 2rem;
    width: 100%;
  }

  .welcome-text h1 {
    font-size: 5rem;
    text-shadow: 1px 1px 5px #333;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    text-align: center;
    letter-spacing: 0.5rem;
    margin-left: 2rem;
  }

  .welcome-text p {
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
  /* welcome section with logo and text */
}

@media only screen and (min-width: 1200px) {
  .top-info ul li {
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .open-time {
    text-align: center;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    padding-bottom: 5px;
  }

  .welcome-section {
    display: flex;
    justify-content: center;
  }

  .logo img {
    border-radius: 2rem;
    width: 100%;
  }

  .welcome-text h1 {
    font-size: 5rem;
    text-shadow: 1px 1px 5px #333;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    text-align: center;
    letter-spacing: 0.5rem;
    margin-left: 2rem;
  }

  .welcome-text p {
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
}