.tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 50%;
  margin-bottom: 2rem;
}

.tab > *:last-child {
  grid-column: 1 / -1;
}

.gallery-img {
  display: none;
  max-width: 100%;
  border-radius: 2rem;
}

.gallery-img-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.tab button {
  background-color: #f2f2f2; 
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 7px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
}

.title-leistungen {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.overlay {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: white;
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-family: "Bebas Neue", sans-serif;
  display: none;
}

.overlay-background {
  border-radius: 0 0 2rem 2rem;
  background: linear-gradient(
    180deg,
    rgba(0, 36, 36, 0) 11%,
    rgba(0, 0, 0, 0.9192051820728291) 48%,
    rgba(15, 14, 14, 1) 100%
  );
  padding-top: 5rem;
}

.overlay.show {
  display: block;
}

@media only screen and (min-width: 768px) {
  .tab {
    grid-template-columns: repeat(3, 1fr);
  }

  .tablinks:nth-last-child(1) {
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  .tablinks:nth-last-child(2) {
    grid-column: 3 / span 1;
  }

  .gallery {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .overlay {
    font-size: 1.6rem;
  }

  .overlay-background {
    padding-top: 8rem;
  }
}

@media only screen and (min-width: 992px) {
  .tab {
    grid-template-columns: repeat(6, 1fr);
  }

  .tablinks:nth-last-child(1) {
    grid-column: 1 / span 1;
    grid-row: 2;
  }

  .tablinks:nth-last-child(2) {
    grid-column: 3 / span 1;
    grid-row: 2;
  }

  .tablinks:nth-last-child(6) {
    grid-row: span 2;
  }

  .gallery {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .overlay {
    font-size: 2rem;
  }

  .overlay-background {
    padding-top: 12rem;
  }
}


@media only screen and (min-width: 1200px) {
  .leistungen-container {
    display: flex;
    flex-direction: column;
  }

  .tab {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 2rem;
  }

  .tab button {
    background-color: #f2f2f2; 
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 7px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  }

  .tab button.active {
    background-color: #ccc;
  }

  .gallery-img-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
  }

  .gallery-img {
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
    display: none;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 2.5rem;
    font-family: "Bebas Neue", sans-serif;
    display: none;
  }

  .overlay-background {
    border-radius: 0 0 2rem 2rem;
    background: linear-gradient(
      180deg,
      rgba(0, 36, 36, 0) 11%,
      rgba(0, 0, 0, 0.9192051820728291) 48%,
      rgba(15, 14, 14, 1) 100%
    );
    padding-top: 15rem;
  }
  
  .overlay.show {
    display: block;
  }
}