* {
  font-family: "Poppins", "Bebas Neue", "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
}

html {
  background-image: linear-gradient(to right, #870000, #190a05);
}

/* footer style */
.fixed-footer {
  text-align: center;
  padding: 10px;
}

.footer-text {
  color: white;
}

/* MEDIA QUERY BREAKE POINTS */

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
}
/* Small devices (potrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (Laptops/Desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
